@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-end-rgb: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-end-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
  }
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
}

.glitter-border {
  position: relative;
}

.glitter-border::before {
  background: linear-gradient(45deg, #62c1ea, #ff66ff, #62c1ea, #ff66ff);
  border-radius: inherit;
  bottom: 0;
  content: '';
  left: 0;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 2px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.glitter-border::after {
  border-radius: inherit;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.glitter-border:hover {
  opacity: 0.8;
}

.glitter-text {
  background: linear-gradient(45deg, #62c1ea, #ff66ff, #62c1ea, #ff66ff);
  -webkit-background-clip: text;
  color: transparent;
}
